body {
	position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
    font-family: helvetica;
	-webkit-user-select: none;     
    -moz-user-select: none;
}

/*Top Bar*/
.topBar{
	position: fixed;
	top: 0px;
	left: 0px;
	/* right: 50px; */
	width: 100%;
	height: 20px;
	background-color: blue;
	margin: auto;
	padding: 10px;
	display: inline;
	color: white;
}

h1 {
	position: relative;
	color: white;
	top: -10px;
	left: 5px;
	font-family: helvetica;
	font-size: 1em;
	padding: 1px;
	display: inline-block;
}

#menuButtonHolder {
	position: relative;
	padding: 1px;
	top: -10px;
	left: 25px;
}



/*Tool Bar*/

#toolBar {
	position: fixed;
	left: 10px;
	top: 50px;
	width: 25px;
	height: 75px;
	border: 2px solid black;

}

.toolIcon {
	position: relative;
	top: -1px;
	left: -1px;
	height: 25px;
	width: 25px;
	border: 1px solid black;
}

/*Color Picker*/

#colorCanvas{
	position: fixed;
	top: 50px;
	right: 10px;
	/* top: 100px; */
	z-index: 2;
}

#currentColors{
	position: fixed;
	top: 360px;
	right: 10px;
	z-index: 2;
}

.darkener{
	position: fixed;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: .9;
	z-index: 3;
	display: hidden;
}

/*drop menus*/
.dropMenu {
	position: relative;
	top: 39px;
	background-color: white;
	text-align: left;
	border: 1px solid black;
	padding: 2px;
	color: black;
	z-index: 3;
}

#sizeDropMenu {
	position: relative;
	display: none;
	left: 100px;
}

#pixelDropMenu{
	position: relative;
	display: none;
	left: 175px;
}

.toolbarMenuDropdownButton{
	position: relative;
	font-family: arial;
	font-size: 1.1em;
	color: white;
	top: 0px;
}

.rightMenuContainer{
	position: fixed;
	top: 500px;
	left: 0px;
}


#sizeMenuDropdownButton{
	left: 75px;
	
}

#promptHolder{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -200px;
	margin-top: -200px;

}

#sizePrompt{
	position: relative;
	width: 400px;
	height: 400px;
	margin: auto;
	background-color: white;
	border:1px solid black;
	z-index: 4;
}

#pixelit{
	position: absolute;
	left: 25px;
	right: 25px;
	top: 50px;
	display: block;
	margin: 0 auto;
	background-color: white;
	/*width: 85%;
	height: 50%;*/
	-webkit-user-select: none;     
    -moz-user-select: none;
    
}

#pixelitgrid{
	position: absolute;
	top: 50px;
	left: 25px;
	right: 25px;
	display: block;
	opacity: 0.05;
	margin: 0 auto;
	z-index: 2;
	-webkit-user-select: none;     
    -moz-user-select: none;
}

#sizeContainer
{
	position: absolute;
	left: 200px;
	top: 0px;
	background-color: green;
}

.box {
	position: absolute;
	top: 12.5%;
	left: 12.5%;
	width: 75%;
	height: 75%;
	background-color: blue;
}

#loginHolder{
	position: absolute;
	/* top: 50px; */
	left: 1300px;
	/* margin: auto; */
}

#canvaSizeHolder{
	position: relative;

}

#pixelSizeHolder{
	position: relative;
}

.arrow-right {
	top: 2px;
	width: 0; 
	height: 0; 
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 8px solid white;
	display: inline-block;
}

.arrow-left {
	top: 2px;
	width: 0; 
	height: 0; 
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent; 
	border-right: 8px solid white; 
	display: inline-block;
}

.centeredHolder {
	position: absolute;
	bottom: 1%;
	width: 100%;

}

#createdBy {
	position: relative;
	left: 40%;
	margin: 0 auto;
	color: gray;
	z-index: 1;
}